html,
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.clickable:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.clickable:active {
  background-color: rgba(0, 0, 0, 0.08);
}
